<div class="content">

  <div class="form-container">
    <div class="form-container-inner">
      <form [formGroup]="loginForm">
        <div class="container-card">
          <div class="form">
            <div class="flex">
              <label class="input-wrapper">
                <input type="text" formControlName="username" placeholder=" " required/>
                <span class="placeholder">{{ 'login.user' | translate }}</span>
              </label>
              <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                {{ 'login.userMandatory' | translate}}
              </mat-error>
            </div>


            <div class="flex">
              <label class="input-wrapper">
                <input type="{{ mostrarSenha ? 'text' : 'password' }}" formControlName="password" placeholder=" "
                       required/>
                <span class="placeholder">{{ 'login.password' | translate }}</span>
                <span class="icon" (click)="togglePasswordVisibility()">
                  <i class="material-icons" [ngClass]="mostrarSenha ? 'icon-visible' : 'icon-hidden'">
                    {{ mostrarSenha ? 'visibility_off' : 'visibility' }}
                  </i>
                </span>
              </label>
              <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

              </mat-error>
            </div>

          </div>
          <p class="forgot-password"> {{ 'login.forgotPassword' | translate }}
            <span>{{ 'login.clickHere' | translate }}</span></p>

          <button (click)="login()" class="button" [disabled]="loginForm.invalid">Entrar</button>
        </div>
      </form>

    </div>
  </div>

  <div class="container-background">
    <div class="information">
      <img src="assets/images/logo.svg" alt="">
      <div class="welcome">
        <p>{{ 'login.hello' | translate }}</p>
        <p>{{ 'login.welcomeBack' | translate }}</p>
        <p><span>{{ 'application.name' | translate }}</span></p>
      </div>

      <div class="without-account">
        <p>{{ 'login.dontHaveAccount' | translate }}</p>
        <a routerLink="/register">{{ 'login.register' | translate}}</a>
      </div>
    </div>
  </div>
</div>
