<div class="content">
  <p class="title">{{ 'layout.selectTitle' | translate }} <span class="mood">{{ mood | translate }}</span></p>
  <form [formGroup]="selectForm">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'layout.movie' | translate }}/{{ 'layout.tvshow' | translate }}</mat-label>
      <input type="text" placeholder="{{ 'layout.findByName' | translate }}" matInput formControlName="title" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of movies | async" [value]="movie.title">
          {{ movie.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-flat-button class="close" mat-dialog-close>{{ 'general.close' | translate }}</button>
    <button mat-flat-button class="ok" [disabled]="selectForm.invalid" (click)="selectTitle()" mat-dialog-close>
      {{ 'general.select' | translate }}
    </button>
  </div>
</div>
