@import "./../../../assets/styles/colors";
@import "./../../../assets/styles/fonts-size";
@import "./../../../assets/styles/sizes";

ul {
  list-style-type: none;
}

.display-block-full {
  display: none;
}

.display-block-950 {
  display: none;
}

.sidebar {
  height: 100%;

  .flex-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .settings {
    padding-top: 14px;
    mat-icon {
      height: 40px;
      width: 40px;
      font-size: calc($font-size-medium * 2);
    }
  }

  .settings-display-none {
    display: none;
  }

  .item-menu {
    text-decoration: none;
    font-size: $font-size-medium;
    color: $font-color-gray;
  }

  .active {
    font-size: $font-size-large;
    color: $primary-color;
    font-weight: 500;
  }

  li {
    display: flex;
    a {
      padding-bottom: 15px;
    }
  }
}

.item-menu::after {
  content: "";
  display: block;
  border-bottom: 4px solid $primary-color;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.item-menu:hover::after {
  transform: scaleX(1);
}

.nav {
  padding: $padding-large;
  display: flex;
  gap: calc($gap-large * 2);
  flex-direction: column;
  box-sizing: border-box;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-medium;
  text-align: center;

  #logo {
    width: 45%;
  }

  #title-logo {
    color: $primary-color;
    font-size: 3.2rem;
    font-family: Righteous;
    font-weight: 400px;
  }
}

.content {
  background-color: $background-color;
  display: grid;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  grid-template-columns: 15% 85%;
  padding: $padding-large;
  box-sizing: border-box;
}

.card {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: $border-radius-large;
  padding: $padding-large;
  background-color: $background-card;
  width: 100%;
  box-sizing: border-box;

  .recommender-library {
    padding: $padding-large;
    border-radius: $border-radius-large;
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .more-info {
    margin: 0 0 0 $margin-large;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    box-sizing: border-box;

    .profile {
      align-self: end;
    }
  }
}

.rounded-menu {
  border-radius: 50px;
  overflow: hidden;

  .mat-menu-content {
    padding: 0;
  }

  .mat-menu-item {
    width: 100%;
    padding: 12px 24px;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

@media (max-width: 1500px) {
  .display-none-1500 {
    display: none;
  }

  .nav {
    padding-left: 0;

    .sidebar {
      display: flex;
      justify-content: center;

      .display-block-full {
        display: block;
      }
      .item-menu {
        mat-icon {
          height: 50px;
          width: 50px;
          font-size: calc($font-size-large * 2);
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .display-none-950 {
    display: none !important;
  }

  .display-block-950 {
    display: block !important;
  }

  .card {
    grid-template-columns: 1fr;
  }

  #title-logo {
    display: none;
  }

  #logo {
    width: 65% !important;
  }
}

@media (max-width: 800px) {
  .item-menu {
    mat-icon {
      height: 40px !important;
      width: 40px !important;
      font-size: calc($font-size-medium * 2) !important;
    }
  }

  @media (max-width: 600px) {
    main {
      overflow: auto;
    }
    .content {
      padding: 0 !important;
      height: calc(100vh - 70px);

      grid-template-columns: 100%;
      grid-template-rows: 10% 90%;
      grid-auto-flow: column dense;

      .card {
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 0;
        padding: 0;
        background-color: $primary-color;
      }

      .nav {
        position: sticky;
        bottom: 0;
        padding: 0;
        grid-row-start: 3;
        grid-row-end: 5;

        .container-logo {
          display: none;
        }
        .flex-nav {
          flex-direction: row;
          width: 100%;

          .flex-itens {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;

            a {
              padding: calc($padding-small * 3);
            }
          }
        }
        .icon-list {
          display: flex !important;
          align-items: center !important;
        }
        li {
          padding: 0;
        }
      }
    }
  }
}
