@import "./../../../assets/styles/colors";
@import './../../../assets/styles//fonts-size';
@import './../../../assets/styles/sizes';

ul {
  list-style-type: none;
}

.sidebar {
  .item-menu {
    text-decoration: none;
    font-size: $font-size-medium;
    color: $font-color-gray;
  }

  .active {
    font-size: $font-size-large;
    color: $primary-color;
    font-weight: 500;
  }

  li {
    display: flex;
    padding-bottom: 15px;
  }
}

.item-menu::after {
  content: "";
  display: block;
  border-bottom: 4px solid $primary-color;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.item-menu:hover::after {
  transform: scaleX(1);
}

.nav {
  padding: $padding-large;
  display: flex;
  gap: calc($gap-large*2);
  flex-direction: column;
  box-sizing: border-box;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-medium;
  text-align: center;

  #logo {
    width: 45%;
  }

  #title-logo {
    color: $primary-color;
    font-size: 3.2rem;
    font-family: Righteous;
    font-weight: 400px;
  }
}

.content {
  background-color: $background-color;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 15% 85%;
  padding: $padding-large;
  box-sizing: border-box;
}

.card {
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: $border-radius-large;
  padding: $padding-large;
  background-color: $background-card;
  width: 100%;
  box-sizing: border-box;

  .recommender-library {
    padding: $padding-large;
    border-radius: $border-radius-large;
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
