<div class="content">
  <div class="nav">
    <div class="container-logo">
      <img id="logo" src="./../../../assets/images/logo.svg" alt="Logo Moodvie">
      <p id="title-logo">Moodvie</p>
    </div>
    <nav class="sidebar">
      <ul>
        <div class="flex-itens">
          <li>
            <a routerLink="/recommender" routerLinkActive="active" class="item-menu display-none-1500">
              Recomendador
            </a>
            <a routerLink="/recommender" routerLinkActive="active" class="item-menu display-block-full icon-list"><mat-icon>movie_filter</mat-icon>
            </a>
          </li>
          <li>
            <a routerLink="/library" routerLinkActive="active" class="item-menu display-none-1500">
              Biblioteca
            </a>
            <a routerLink="/library" routerLinkActive="active" class="item-menu display-block-full icon-list">
              <mat-icon>view_carousel</mat-icon>
            </a>
          </li>
          <li>
            <a routerLink="/statistics" routerLinkActive="active" class="item-menu display-block-1000 icon-list">
              <mat-icon>assessment</mat-icon>
            </a>
          </li>
          <!-- <li>
            <a routerLinkActive="active" class="display-block-1000">
              <app-profile-circle></app-profile-circle>
            </a>
          </li> -->
          <li>
            <a routerLink="/statistics" routerLinkActive="active" class="item-menu settings icon-list">
              <mat-icon>settings</mat-icon>
            </a>
          </li>
        </div>
      </ul>
    </nav>

  </div>
  <main role="main" class="card">
    <div class="recommender-library">
      <router-outlet></router-outlet>
    </div>
    <div class="more-info display-none-1000">
      <div class="profile ">
        <app-profile-circle></app-profile-circle>
      </div>
      <div class="statistics ">
        <app-statistics></app-statistics>
      </div>
    </div>
  </main>
</div>