<div class="content">
  <p class="title-card">Estatísticas</p>
  <div class="container-infos">
    <div class="infos">
      <p class="title-infos">Filmes</p>
      <div class="container">
        <div class="assisted">
          <p class="amount">15</p>
          <p class="title">Assistidos</p>
        </div>
        <div class="favorites">
          <p class="amount">10</p>
          <p class="title">Favoritados</p>
        </div>
        <div class="evaluated">
          <p class="amount">12</p>
          <p class="title">Avaliados</p>
        </div>
        <div class="nsei">
          <p class="amount">3</p>
          <p class="title">nsei</p>
        </div>
      </div>
    </div>

    <div class="infos">
      <p class="title-infos">Séries</p>
      <div class="container">
        <div class="assisted">
          <p class="amount">15</p>
          <p class="title">Assistidas</p>
        </div>
        <div class="favorites">
          <p class="amount">10</p>
          <p class="title">Favoritadas</p>
        </div>
        <div class="evaluated">
          <p class="amount">12</p>
          <p class="title">Avaliadas</p>
        </div>
        <div class="nsei">
          <p class="amount">3</p>
          <p class="title">nsei</p>
        </div>
      </div>
    </div>
  </div>


</div>
