<div class="content">
  <p class="title-card">{{ 'layout.stats' | translate }}</p>
  <div class="container-infos">
    <div class="infos">
      <p class="title-infos">{{ 'layout.movies' | translate }}</p>
      <div class="container">
        <div class="assisted">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.watcheds' | translate }}</p>
        </div>
        <div class="favorites">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.favorited' | translate }}</p>
        </div>
        <div class="evaluated">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.rateds' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="infos">
      <p class="title-infos">{{ 'layout.tvshows' | translate }}</p>
      <div class="container">
        <div class="assisted">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.watcheds' | translate }}</p>
        </div>
        <div class="favorites">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.favorited' | translate }}</p>
        </div>
        <div class="evaluated">
          <p class="amount">0</p>
          <p class="title">{{ 'layout.rateds' | translate }}</p>
        </div>
      </div>
    </div>
  </div>


</div>
