<div class="content">
  <p class="title">Salvar em...</p>
  <form [formGroup]="playlistForm">
    <section class="container-checkbox">
      <mat-checkbox color="primary" *ngFor="let playlist of playlists"
                    [value]="playlist.value"
                    [checked]="playlist.checked"
                    (click)="selectPlaylist(playlist)">
        {{ playlist.name }}
      </mat-checkbox>
    </section>

  </form>

  <p (click)="showNewPlaylist()" class="create-playlist"><mat-icon>add</mat-icon> Criar Playlist</p>

  <div class="new-playlist" *ngIf="showCreatePlaylist">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input placeholder="Insira o nome da playlist" maxlength="150" matInput type="text" #playlist>
      <mat-hint align="end">{{playlist.value.length}} / 150</mat-hint>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-flat-button class="close" mat-dialog-close>Fechar</button>
    <button mat-flat-button class="ok" [disabled]="playlistForm.invalid">Selecionar</button>
  </div>
</div>
