@import "./../../../assets/styles/colors";
@import "./../../../assets/styles/fonts-size";
@import "./../../../assets/styles/sizes";

.display-block-800 {
  display: none;
}

#no-trailer {
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  border-radius: 0 0 $border-radius-large $border-radius-large;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  p {
    font-size: $font-size-medium;
    font-weight: 500;
    text-transform: uppercase;
    color: $details-color;
  }
}

.content {
  color: $color-font-card;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .container-recommender {
    display: flex;
    flex-direction: column;
  }

  .trailer {
    border-radius: 0 0 $border-radius-large $border-radius-large;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    border-radius: $border-radius-large $border-radius-large 0 0;
    min-width: 100%;
    padding: $padding-large;
    box-sizing: border-box;
  }

  .mood {
    border-radius: $border-radius-large;
    margin-bottom: $margin-large;

    .label-mood {
      color: $details-color;
    }

    p {
      font-size: $font-size-large;
    }
    a {
      font-size: $font-size-small;
      text-decoration: none;
      color: $color-font-card;
      padding: $padding-medium;
      border-radius: $border-radius-medium;
      background-color: $details-color;
    }
  }

  .movie-serie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: $font-size-small;

    a {
      padding-left: calc($gap-medium * 2);
      text-decoration: none;
      color: $color-font-card;
    }
  }

  .moovie {
    padding: 0;
    display: grid;
    align-items: start;
    grid-template-columns: 20% 80%;

    .content-moovie {
      padding: $padding-large;
      display: flex;
      gap: $gap-large;
      flex-direction: column;
    }

    .banner {
      background-size: cover;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-large 0 0 0;
    }

    .banner::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), $secondary-color);
    }

    .streaming {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      border-radius: $border-radius-medium;
    }

    .gender {
      display: flex;
      gap: calc($gap-small * 3);
      font-size: $font-size-tiny;

      p {
        border: 1px solid $details-color;
        color: $details-color;
        text-transform: uppercase;
        border-radius: $border-radius-small;
        padding: $padding-small;
      }
    }

    .sinopse-gender {
      display: flex;
      gap: $gap-medium;
      flex-direction: column;
    }

    .title-stars-streaming {
      display: flex;
      align-items: center;
      gap: calc($gap-medium * 3);
      justify-content: space-between;
    }

    .sinopse {
      font-size: $font-size-small;
      max-height: 55px;
      overflow-x: auto;
    }

    .title-stars {
      display: flex;
      align-items: center;
      gap: calc($gap-medium * 3);
    }

    .title {
      font-size: $font-size-large;
      max-width: 295px;
      font-weight: 500;
    }

    .infos {
      font-size: $font-size-tiny;
      font-weight: 100;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: calc($gap-small * 3);

      a {
        cursor: pointer;
      }
    }

    .button {
      padding: $padding-medium;
      text-decoration: none;
      color: $color-font-card;
      border-radius: $border-radius-medium;
    }

    .watched,
    .save {
      background-color: $card-buttons;
    }

    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $details-color;
      font-size: $font-size-small;
    }
  }

  .historic {
    display: flex;
    align-items: start;
    gap: $gap-medium;
    flex-direction: column;

    p {
      font-size: $font-size-small;
    }

    .movie-historic {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      border-radius: $border-radius-medium;
    }

    .flex {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navigate a {
      color: $color-font-card;
    }

    .movie {
      width: 100%;
      border-radius: $border-radius-medium;
    }

    .container-movies {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: calc($margin-small * 3);
    }
  }

  .header {
    .container-stars {
      min-width: 135px;
      display: flex;

      .noteMoovie-none {
        display: none;
      }

      .star-none {
        display: block;
      }
    }

    .noteMoovie {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: $font-size-medium;
      gap: $gap-small;
      font-weight: 500;
      color: $details-color;
    }
  }
}

@media (max-width: 800px) {
  .mood {
    padding: $padding-medium !important;

    p {
      font-size: $font-size-small !important;
    }
    a {
      font-size: 1.5rem !important;
      padding: calc($font-size-small * 0.5) !important;
    }
  }

  .title {
    font-size: $font-size-small !important;
  }

  .sinopse {
    font-size: 1.5rem !important;
    max-height: 65px !important;
  }

  .gender {
    font-size: calc($font-size-medium/2) !important;
  }

  .button {
    font-size: 1.5rem !important;
    padding: calc($font-size-small * 0.5) !important;
  }

  .watched,
  .save {
    height: 25px !important;
  }

  .movie-serie {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 700px) {
  .noteMoovie {
    font-size: $font-size-small !important;
    gap: $gap-small;
  }

  .noteMoovie-none {
    display: flex !important;
  }

  .star-none {
    display: none !important;
  }

  .title-stars {
    gap: $gap-medium !important;
  }

  .container-stars {
    min-width: 60px !important;
  }
}

@media (max-width: 600px) {
  .container {
    border-radius: $border-radius-medium $border-radius-medium 0 0 !important;
  }
  .mood {
    border-radius: $border-radius-medium !important;
  }
  .banner {
    border-radius: $border-radius-medium 0 0 0 !important;
  }
  .trailer {
    border-radius: 0 0 $border-radius-medium $border-radius-medium !important;
  }
  .content-moovie {
    padding: $padding-medium !important;
  }
}
