<div class="content">
  <div class="container mood">
    <p>{{ 'layout.imFeeling' | translate }} <span class="label-mood">{{ mood | translate }}</span></p>
    <button routerLink="/select-mood">{{ 'layout.changeFeeling' | translate}}</button>
  </div>
  <div class="container-recommender">
    <div class="movie-serie">
      <a (click)="setType('movie')">{{ 'layout.movie' | translate}}</a>
      <a (click)="setType('tv')">{{ 'layout.tvshow' | translate}}</a>
    </div>
    <div class="container moovie">
      <div [style.background-image]="'url('+ banner + ')'" class="banner"></div>
      <div class="content-moovie">
        <div class="header">
          <div>
            <div class="title-stars-streaming">
              <div class="title-stars">
                <p class="title">{{title}}</p>
                <div class="container-stars">
                  <img class="star-none" src="./../../../assets/images/star.svg" *ngFor="let star of starsArray">
                  <div class="noteMoovie noteMoovie-none">
                    <p><span>1</span><span>/</span><span>5</span></p>
                    <img src="./../../../assets/images/star.svg">
                  </div>
                </div>
              </div>
              <a [href]="linkStreaming" target="_blank">
                <div [style.background-image]="'url('+ streamingURL + ')'" class="streaming"></div>
              </a>
            </div>
            <p class="infos">{{year}} ● {{duration}}</p>
          </div>
        </div>

        <div class="sinopse-gender">
          <div class="sinopse">
            <p>{{sinopse}}</p>
          </div>
          <div class="gender">
            <p *ngFor="let gender of genders">{{gender.name}}</p>
          </div>
        </div>

        <div class="buttons">
          <button class="button watched" matTooltip="{{ 'layout.watched' | translate }}">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button class="button save" (click)="openDialogPlaylist()" matTooltip="{{ 'layout.saveToList' | translate }}">
            <mat-icon>bookmark</mat-icon>
          </button>
          <button class="button next" (click)="findMovie()">{{ 'layout.next' | translate }}
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <iframe *ngIf="viewTrailer" width="100%" class="trailer" height="100%" [src]="videoUrl" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
  <div id="no-trailer" *ngIf="!viewTrailer"><p>{{ 'layout.trailerNotAvailable' | translate }}</p></div>
</div>
