@import "./../../../assets/styles/colors";
@import "./../../../assets/styles/fonts-size";
@import "./../../../assets/styles/sizes";

.content {
  color: $color-font-card;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap-large;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: $padding-large;

  .container-subtitle-group {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    mat-button-toggle-group {
      height: 30px;
      position: absolute;
      right: 0;
      margin-right: 25px;
      font-size: 1.2rem;

      mat-button-toggle {
        height: 30px;
        display: flex;
        align-items: center;
      }
    }
  }

  .title {
    max-width: 600px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
  }

  .detail {
    width: 200px;
    height: 1px;
    background-color: $details-color;
  }

  .subtitle {
    max-width: 400px;
    text-align: center;
    font-size: $font-size-large;
  }

  .container-moods {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    gap: 25px;

    .container-mood {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      align-items: center;
      background-color: $secondary-color;
      border: 1px solid $details-color;
      border-radius: $border-radius-medium;
      padding: 0 10px;
      transition: all 0.2s ease;

      .emoji {
        font-size: calc($font-size-medium * 2);
      }

      .title-mood {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6rem;
      }

      &:hover {
        scale: 1.1;
        background-color: $details-color;
      }
    }
  }
}

@media (max-width: 1500px) {
  .content {
    padding: 0;

    mat-button-toggle-group {
      margin: 0 !important;
    }
  }
}

@media (max-width: 1360px) {
  .content {
    .container-moods {
      gap: 12px !important;

      .container-mood {
        gap: 5px;
        padding: 0 5px;
      }
    }
  }

  @media (max-width: 1360px) {
    .content {
      .container-moods {
        grid-template-columns: repeat(3, 1fr);
      }

      .subtitle {
        max-width: 300px;
      }
    }
  }

  @media (max-width: 1200px) {
    .content {
      .subtitle {
        max-width: 300px;
      }

      .emoji {
        font-size: 3.5rem !important;
      }

      .title-mood {
        font-size: 1.5rem !important;
      }
    }
  }

  @media (max-width: 800px) {
    .content {
      .title {
        font-size: 2.3rem;
      }

      .subtitle {
        font-size: 1.8rem;
        max-width: 220px;
      }

      .emoji {
        font-size: 3.5rem !important;
      }

      .title-mood {
        font-size: 1.5rem !important;
      }
    }
  }
}
