$primary-color: #153F3C;
$secondary-color: #193231;
$background-color: #FFFFFF;
$background-card: #EEEDEC;
$datails-color: #6B8E23;
$font-color-gray: #646464;
$font-color-black: #111111;
$card-buttons: #829694;
$color-font-card: #FFFFFF;

