$primary-color: #153f3c;
$secondary-color: #193231;
$background-color: #ffffff;
$background-card: #eeedec;
$details-color: #6b8e23;
$font-color-gray: #646464;
$font-color-black: #111111;
$card-buttons: #829694;
$color-font-card: #ffffff;
