$border-radius-large: 25px;
$border-radius-medium: 10px;
$border-radius-small: 5px;
$padding-large: 25px;
$padding-medium: 10px;
$padding-small: 5px;
$margin-large: 25px;
$margin-medium: 10px;
$margin-small: 5px;
$gap-large: 25px;
$gap-medium: 10px;
$gap-small: 5px;
